body {
	background: rgb(255,238,238); 
	background: linear-gradient(174deg, rgba(255,238,238,1) 0%, #440005 100%); 	
	margin: 0;
	line-height: 20px;
}

/* how to write a com in css*/

/* another com */

header {
	background-color: #DFBDBD;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

header h1 {
	font-size: 40px;
	margin-bottom: 40px;
}

.links {
	background-color: white;
	width: 955px;
	height: 40px;
	padding-top: 10px;
	padding-left: 40px;
	padding-bottom: 10px;
	position: sticky;
	z-index: -1;
	top: 10px;
    bottom: -100%;
    margin: 40px auto;
}

.menu {
	background-color: white;
	position: sticky;
	z-index: 1;
	top: 10px;
	bottom: 200px;
}

.menu:after {
	content:'';
	display: table;
	clear: both;
	width: 100%;
	margin: 0 auto;
}

.col {
	background-color: white;
	text-align: center;
	color: lightgrey;
	float: left;
	padding: 20px 0;
	width: 240px;
	text-transform: uppercase;
	box-sizing: border-box;
}

.col a {
	color: lightgrey;
}

.col a:hover {
	border: solid 1.5px;
	border-color: darkred;
	padding: 5px 50px;
	color: darksalmon;
	font-style: italic;
	text-transform: uppercase;
}

.col1 {
	background-color: white;
	text-align: center;
	color: lightgrey;
	float: left;
	padding: 20px 0;
	width: 240px;
	box-sizing: border-box;
}

.col1 a {
	color: lightgrey;
}

.col1 a:hover {
	border: solid 1.5px;
	border-color: darkred;
	padding: 5px 50px;
	color: darksalmon;
	font-style: italic;
}

.tabel {
	width: 680px;
	margin: 40px auto;

}

.tabel:after {
	content:'';
	display: table;
	clear: both;
}

.cl {
	background-color: #DFBDBD;
	text-align: center;
	color: #440005;
	float: left;
	padding: 10px;
	width: 200px;
	box-sizing: border-box;
	margin-left: 20px;
}

.tabel2 {
	width: 480px;
	margin: 40px auto;
	z-index: 3;
	position: relative;
}

.tabel2:after {
	content:'';
	display: table;
	clear: both;
}

h1, h2 {
	color: white;
	font-family: 'Cinzel', serif;
	margin-top: 40px;
}

header img {
	border: 1px solid white;
	width: 250px;
	height: 250px;
}

 main {
 	max-width: 1000px;
 	margin: 0 auto;
 	padding: 20px;
 	font-size: 20px;
}

.arrow {
 	width: 1000px;
 	position: relative;
 	z-index: 3;
 }

hr { 
	width:100%;
	height:19px;
	background: white;
	margin-bottom: -20px;
}

a {
	color: #af7c7c;
}

a.art:hover{
	color: #8FBC8B;
}

a.dio:hover{
	color: #e4c565;
}

footer a:hover {
	color: white;
}

footer {
	background-color: #440005;
	text-align: center;
	padding: 50px 0;
	color: ghostwhite;
	width: 100%;
	clear: both;
}

footer p {
	margin: 0 auto;
	text-align: center;
}

p.caption {
	color: lightgrey;
	font-size: 15px;
	margin-top: 0;
	font-style: italic;
}

#astea img {
	height: 250px;
	width: 250px;
	margin: 10px 40px;
	clear: both;
}

#eros-img {
	width: 250px;
	margin: 0;
	position: relative;
	display: inline;
	z-index: 3;
}

#linie1 {
	float: left;
	transform: rotate(90deg) scale(1.5);
	margin: 200px 0 0 -100px
}

#linie2 {
	transform: rotate(270deg) scale(1.5);
	margin: 200px -90px 0 0;
	float: right;
}

.box {
	background-color: #af7c7c;
	margin:60px auto 50px;
	padding: 5px 10px;
	width: 200px;
}

div p {
	color: black;
	margin: 0 0 30px;
}

#inlove {
	width: 300px;
	height: auto;
	float: left;
	margin: 0 20px 30px;
	clear: right;
}

#altaimg {
	float: left;
	width: 200px;
	height: auto;
	margin: 0 10px 10px;
	clear: left;
}

.fallinlove {
	color: beige;
}

.yey {
	margin-bottom: 60px;
}

.eros-exp{
	background-color: white;
	border: solid darkred 0.5px;
	text-align: left;
	padding: 100px 80px 100px 120px;
	width: 250%;
	height: 200px;
	position: absolute;
	bottom: -20px;
	left: -350px;
	text-indent: ;
}

.eros-exp p {
	color: darksalmon;
}

.eros-exp #noun {
    color: darksalmon;
	font-style: italic;
	font-size: 50px;
	text-indent: -30px;	
}

#eros-img:hover > .eros-exp{
    visibility:visible;
}

.eros-exp{
    visibility:hidden;
}

.div-cu-sag {
	position: relative;
}

#arrow-b {
	position: absolute;
	z-index: -1;
	float: right;
	scale: 0.8;
    opacity: 80%;
    top: -120px;
    right: 0;
    transform: rotate(-10deg);
}

#arrow-w {
	position: absolute;
	z-index: -1;
	top: 10px;
    left: -150px;
    transform: rotate(25deg);
    opacity: 80%;
}
